.Notes {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 200px;
}

.Notes__cards {
	border-top: 1px solid #e8e8e8;
	margin-top: 30px;
	padding-top: 30px;
	width: 600px;
}

.Notes__card {
	margin-top: 20px !important;
}

.Notes .Notes__settingsLink {
	position: absolute;
	top: 15px;
	right: 15px;
}
